.admintitle{
    background: burlywood;
    color:black;
    margin-left: 20px;
    margin-right: 20px;
    height: 100px;
    line-height: 90px;

}
.admindash{

    background: lightblue;
    margin-right: 20px;
    margin-left: 20px;
    height: 100px;
}
.stdform
{
    background: coral;
    margin-left: 20px;
    margin-right: 20px;
    height: 210px;
}
.std{ background: coral; margin-left: 20px;
    margin-right: 20px;
}
